<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="cordova-plugin-memory-warning"
    version="0.0.1">

    <name>MemoryWarning</name>
    <license>MIT</license>

    <engines>
        <!--
            Cordova 2.8.0 is all I have tested on - it should work fine with earlier versions.
            Please modify the below line, test, and submit a PR if it works for you.
        -->
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MemoryWarning">
                <param name="ios-package" value="CDVMemoryWarning" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <plugins-plist key="MemoryWarning" string="MemoryWarning" />

        <header-file src="src/ios/CDVMemoryWarning.h" />
        <source-file src="src/ios/CDVMemoryWarning.m" />
    </platform>
</plugin>
